<!-- ColorVeil for Windows Jumbotron -->
<div class="jumbotron jumbotron-fluid aur-app-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 aur-jumbotron-text-container">
                <h1 class="aur-jumbotron-heading">
                    <a href="{{ site.github.url }}/colorveil/windows/" class="aur-appname">ColorVeil</a>
                    Color filters over your screen. Reduce eye strain, help with Dyslexia and Visual Stress.
                </h1>
                <p><a class="btn btn-primary" href="{{ site.github.url }}/colorveil/windows/download/" role="button">Get it Free for Windows</a></p>
            </div>
            <div class="col-lg-6 aur-jumbotron-shot-container">
                <a href="{{ site.github.url }}/colorveil/windows/">
                    <img class="img-fluid aur-jumbotron-shot"
                    src="{{ site.github.url }}/img/apps/colorveil/windows/jumbotron/colorveil-windows-jumbotron-image.png" alt="ColorVeil Screenshot" />
                </a>
            </div>
        </div>
    </div>
</div>
