<div class="jumbotron jumbotron-fluid aur-app-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 aur-jumbotron-text-container">
                <h1 class="aur-jumbotron-heading">
                    <a href="{{ site.github.url }}/injuredpixels/windows/" class="aur-appname">{{ page.appname }}</a>
                    is free because it's supported by east-tec Eraser! Protect your privacy, cover your tracks!
                </h1>
                <p><a class="btn btn-primary" href="http://www.east-tec.com/eraser/download/" target="_blank" role="button">Free Download</a></p>
            </div>
            <div class="col-lg-6 aur-jumbotron-shot-container">
                <a href="http://www.east-tec.com/eraser/download/" target="_blank">
                    <img class="img-fluid aur-jumbotron-shot"
                    src="{{ site.github.url }}/img/third/east-tec/east-tec-jumbotron-image.png"
                    alt="east-tec Eraser Screenshot" />
                </a>
            </div>
        </div>
    </div>
</div>
