<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <a href="http://www.east-tec.com" target="_blank">
            <img class="img-fluid jumbotron-shot"
                src="{{ site.github.url }}/img/third/east-tec/east-tec-jumbotron-shot.png"
                srcset="{{ site.github.url }}/img/third/east-tec/east-tec-jumbotron-shot.png 1x,
                        {{ site.github.url }}/img/third/east-tec/east-tec-jumbotron-shot-2x.png 2x"
                alt="East-Tec Screenshot" />
        </a>
        <div class="jumbotron-content">
            <h1 class="jumbotron-heading"><strong class="appname">{{ page.appname }}</strong> is completely free because it's supported by East-Tec and east-tec Eraser!</h1>
            <p class="jumbotron-quote"><q>east-tec Eraser is the perfect program to cover your tracks.</q> (PC Pro)</p>
            <p><a class="btn btn-primary" href="http://www.east-tec.com" target="_blank" role="button">Free Download</a></p>
            <p></p>
        </div>
    </div>
</div>
