<!-- HTMtied for Windows Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="img-fluid pull-xs-right jumbotron-shot" src="/img/apps/htmtied/htmtied-jumbotron-shot.jpg" alt="HTMtied Screenshot" />
        <h1 class="jumbotron-heading"><strong class="appname">HTMtied.</strong> Save your Internet bookmarks as tiny portable HTML bookmark files, and use them anywhere.</h1>
        <p class="jumbotron-quote"><q>A great implementation of such a simple yet brilliant idea.</q> (FreewareGenius)</p>
        <a class="btn btn-primary" href="/htmtied/windows/download/" role="button">Get it Free for Windows</a>
    </div>
</div>
