<!-- HTMtied for Windows Jumbotron -->
<div class="jumbotron jumbotron-fluid aur-app-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 aur-jumbotron-text-container">
                <h1 class="aur-jumbotron-heading">
                    <a href="{{ site.github.url }}/htmtied/windows/" class="aur-appname">HTMtied</a>
                    Save your Internet bookmarks as tiny portable HTML link files, and use them anywhere.
                </h1>
                <p><a class="btn btn-primary" href="{{ site.github.url }}/htmtied/windows/download/" role="button">Get it Free for Windows</a></p>
            </div>
            <div class="col-lg-6 aur-jumbotron-shot-container">
                <a href="{{ site.github.url }}/htmtied/windows/">
                    <img class="img-fluid aur-jumbotron-shot" src="{{ site.github.url }}/img/apps/htmtied/windows/jumbotron/htmtied-windows-jumbotron-image.png"
                    alt="HTMtied for Windows Screenshot" />
                </a>
            </div>
        </div>
    </div>
</div>
