<!-- InjuredPixels for Android Jumbotron -->
<div class="jumbotron jumbotron-fluid aur-app-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 aur-jumbotron-text-container">
                <h1 class="aur-jumbotron-heading">
                    <a href="{{ site.url }}/injuredpixels/android/" class="aur-appname">InjuredPixels for Android</a>
                    Check the screen of your Android device for dead pixels, scratches or defects.
                </h1>
                <p>
                    <a class="btn btn-primary" href="{{ site.url }}/injuredpixels/android/download/" role="button">Install for Free</a>
                </p>
                <p class="aur-extra">Also available for <a class="aur-link" href="{{ site.url }}/injuredpixels/windows/">Windows</a></p>
            </div>
            <div class="col-lg-6 aur-jumbotron-shot-container">
                <a href="{{ site.url }}/injuredpixels/android/">
                    <img class="img-fluid aur-jumbotron-shot"
                    src="{{ site.url }}/img/apps/injuredpixels/android/jumbotron/injuredpixels-android-jumbotron-image.png"
                    alt="InjuredPixels for Android Screenshot" />
                </a>
            </div>
        </div>
    </div>
</div>
