<!-- InjuredPixels for Windows Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <a href="{{ site.github.url }}/injuredpixels/windows/">
            <img class="img-fluid jumbotron-shot" src="{{ site.github.url }}/img/apps/injuredpixels/windows/injuredpixels-jumbotron-shot.png" alt="InjuredPixels Screenshot" />
        </a>
        <div class="jumbotron-content">
            <h1 class="jumbotron-heading"><a href="{{ site.github.url }}/injuredpixels/windows/" class="appname">InjuredPixels.</a> Check your PC, laptop or tablet screen for dead pixels, scratches or defects.</h1>
            <p class="jumbotron-quote"><q>The capable InjuredPixels is just about as simple a program as you'll see.</q> (BetaNews)</p>
            <p><a class="btn btn-primary" href="{{ site.github.url }}/injuredpixels/windows/download/" role="button">Get it Free for Windows</a></p>
            <p>Also available for <a class="link" href="{{ site.github.url }}/injuredpixels/android/">Android</a></p>
        </div>
    </div>
</div>
