<!-- Thumbico Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img class="img-fluid pull-xs-right jumbotron-shot" src="/img/apps/thumbico/thumbico-jumbotron-shot.png" alt="Thumbico Screenshot" />
        <h1 class="jumbotron-heading"><strong class="appname">Thumbico.</strong>  View the large thumbnail or icon of any file, image, document, or program on your PC.</h1>
        <p class="jumbotron-quote"><q>Comprehensive and ingenious despite a more spartan interface.</q> (Allmyapps)</p>
        <a class="btn btn-primary" href="/thumbico/windows/download/" role="button">Free Download for Windows</a>
    </div>
</div>
