<!-- WhatsMyCo Web Jumbotron -->
<div class="jumbotron jumbotron-fluid aur-app-jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 aur-jumbotron-text-container">
                <h1 class="aur-jumbotron-heading">
                    <a href="{{ site.github.url }}/whatsmyco/web/" class="aur-appname">WhatsMyCo</a>
                    Type your name or text and get your matching color! A fun way to discover colors!
                </h1>
                <p><a class="btn btn-primary" href="{{ site.github.url }}/whatsmyco/web/download/" role="button">Run in Your Browser</a></p>
            </div>
            <div class="col-lg-6 aur-jumbotron-shot-container">
                <a href="{{ site.github.url }}/whatsmyco/web/">
                    <img class="img-fluid aur-jumbotron-shot" src="{{ site.github.url }}/img/apps/whatsmyco/web/jumbotron/whatsmyco-web-jumbotron-image.png"
                    alt="WhatsMyCo Screenshot" />
                </a>
            </div>
        </div>
    </div>
</div>
