---
active        : overview
app           : colortypist-windows
appurl        : /colortypist/windows/
layout        : app-page
redirect_from : /colortypist/

title         : Colortypist - Type and view a web color in real-time
description   : Type a color name or a web color code, and see the color fill your screen, in real-time, while you type. And set any color you like as a Desktop Wallpaper.
image         : /img/apps/colortypist/windows/jumbotron/colortypist-windows-jumbotron-image.png
---

<section class="aur-content-group text-center">
    <div class="row">
        {% include templates/feature.html icon="fa-tint" heading="View Any Color" text="Type or paste the name or HTML code of any web color, and see
        it fill your entire screen, in real-time, while you type." %}

        {% include templates/feature.html icon="fa-hashtag" heading="Type In Any Format" text="Enter color names, HTML codes, RGB triplets or integer
        values. And easily convert between any of these formats." %}

        {% include templates/feature.html icon="fa-image" heading="Wallpaper Changer" text="Easily set your favorite tint as your Desktop Wallpaper. You
        may get a more modern looking Desktop, and a faster PC." %}

        {% include templates/feature.html icon="fa-copy" heading="Copy And Reuse" text="Copy and reuse html colors in external apps, for various
        purposes. Such as generating web color schemes, or palettes." %}

        {% include templates/feature.html icon="fa-file-image-o" heading="Save As Images" text="Generate and save images of any size, filled with the color of
        your choice. For anonymous profile images, or backgrounds." %}

        {% include templates/feature.html icon="fa-file-text-o" heading="Save As Portable Files" text="Save any color in a tiny HTML file. Then open the file
        and view the color in any browser, on any PC, tablet or smartphone." %}

        {% include templates/feature.html icon="fa-paste" heading="Paste From Anywhere" text="Paste colors into Colortypist. From any external site or
        app, such as a web color picker, or a HTML color wheel." %}

        {% include templates/feature.html icon="fa-window-maximize" heading="Simple Interface" text="Colortypist has a clean and easy to use interface. Type
        colors in the large edit box, and use the menus for the main functions." %}

        {% include templates/feature.html icon="fa-graduation-cap" heading="Useful And Fun" text="Learn web color names by trial and error. Or have fun by
        typing weird color names, or words that are also color codes." %}
    </div>
</section>

<section class="aur-content-group text-center">
    <h2 class="aur-home-heading">Selected Reviews</h2>
    <div class="row">
        {% include templates/selected-review.html link="http://betanews.com/2015/11/20/colortypist-is-a-full-screen-color-viewer/" source="BetaNews"
        quote="Colortypist is a smart graphic design addon, well worth its 40KB download. Go grab a copy now." %}

        {% include templates/selected-review.html link="http://www.rockybytes.com/colortypist" source="Rocky Bytes"
        quote="Just really like discovering different colors? Colortypist is the application for you. (Five Stars – It Rocks!)" %}

        {% include templates/selected-review.html link="http://www.ghacks.net/2011/09/07/colortypist-realtime-desktop-wallpaper-color-selector/" source="Ghacks"
        quote="Colortypist, Realtime Desktop Wallpaper Color Selector: a better way of experimenting with background colors." %}
    </div>
</section>

{% capture thecontent %}
    <blockquote class="blockquote">
        <p><q>It's clear that this program was not only made for graphic designers, but by them, as well. It's stylish, smooth, and does exactly what you need it to in a matter of seconds. It's even portable so you can have it with you on a thumb drive and use it on any computer. If you do any work with colors or HTML, Colortypist is a phenomenal download to have.</q></p>
        <footer class="blockquote-footer"><a href="http://download.cnet.com/Colortypist/3000-2072_4-75627679.html" target="_blank">Download Editors' Rating: Excellent</a></footer>
    </blockquote>
{% endcapture %}
{% include templates/contentsection.html heading="Quotes" %}
