<!-- InjuredPixels for Windows Featured Logos -->
{% capture thecontent %}
    <a href="https://ca.finance.yahoo.com/news/dead-pixel-down-tricks-might-191544906.html" target="_blank">
        <img class="featured-logo" height="40" src="{{ site.github.url }}/img/third/reviews/y/yahoo/yahoo-finance-white.png" alt="Yahoo! Finance" />
    </a>
    <a href="http://www.scroll.com.tr/olu-piksel-bulma-tespit-etme-programi/" target="_blank">
        <img class="featured-logo" height="35" src="{{ site.github.url }}/img/third/reviews/s/scroll-com-tr/scroll-com-tr-white.png" alt="Scroll" />
    </a>
    <a href="http://www.softpedia.com/get/System/System-Miscellaneous/InjuredPixels.shtml" target="_blank">
        <img class="featured-logo" height="30" src="{{ site.github.url }}/img/third/reviews/s/softpedia/softpedia-white.png" alt="Softpedia" />
    </a>
    <a href="http://www.rockybytes.com/injuredpixels" target="_blank">
        <img class="featured-logo" height="40" src="{{ site.github.url }}/img/third/reviews/r/rockybytes/rockybytes-white.png" alt="Rocky Bytes" />
    </a>
{% endcapture %}
{% include templates/featured-stripe.html %}
