<!-- PixelHealer for Windows Featured Logos -->
{% capture thecontent %}
    <a href="https://ca.finance.yahoo.com/news/dead-pixel-down-tricks-might-191544906.html" target="_blank">
        <img class="aur-featured-logo" height="40" src="{{ site.github.url }}/img/third/reviews/y/yahoo/yahoo-finance-white.png" alt="Yahoo! Finance" />
    </a>
    <a href="http://www.chip.de/downloads/PixelHealer-Portable_88736206.html" target="_blank">
        <img class="aur-featured-logo" height="40" src="{{ site.github.url }}/img/third/reviews/c/chip/chip-white.svg" alt="CHIP" />
    </a>
    <a href="http://www.softpedia.com/get/System/System-Info/PixelHealer.shtml" target="_blank">
        <img class="aur-featured-logo" height="30" src="{{ site.github.url }}/img/third/reviews/s/softpedia/softpedia-white.png" alt="Softpedia" />
    </a>
    <a href="http://www.rockybytes.com/pixelhealer" target="_blank">
        <img class="aur-featured-logo" height="40" src="{{ site.github.url }}/img/third/reviews/r/rockybytes/rockybytes-white.png" alt="Rocky Bytes" />
    </a>
{% endcapture %}
{% include templates/featured-stripe.html %}
