---
active      : reviews
app         : injuredpixels-android
appurl      : /injuredpixels/android/
layout      : app-page

title       : InjuredPixels for Android - Reviews And Testimonials
description : \"Read what others are saying about InjuredPixels for Android.\"
---

{% capture thecontent %}
    <section class="aur-content-group">
        <h2 class="aur-content-heading">Selected Reviews</h2>
        {% assign reviews = site.data.reviews.injuredpixels | where: 'platform', 'android' | sort: 'by', 'last' %}
        {% for review in reviews %}
            {% include templates/review.html %}
        {% endfor %}
    </section>
{% endcapture %}
{% include templates/nosidebar-content.html %}
