---
active : download
app    : htmtied-windows
appurl : /htmtied/windows/
layout : app-page

title           : HTMtied for Windows - Free Download
description     : Download, install and run HTMtied on any PC, notebook or tablet with Windows 10, 8, 7, Vista, or XP. A portable version is also available.
---

{% capture thecontent %}
    <p class="square-middle">
        HTMtied is free for use in any environment, including but not necessarily limited to: personal, academic,
        commercial, government, business, non-profit, and for-profit. Before using HTMtied, you must accept
        its <a href="/htmtied/windows/license/">License Agreement</a>.
    </p>
{% endcapture %}
{% include templates/contentsection.html heading="License" %}

{% capture thecontent %}
<h3 class="item-heading">Download HTMtied 2.5.0.30 Portable</h3>
<p>
    HTMtied runs on any PC, laptop or tablet with Windows 10, 8, 7, Vista, or
    XP<a title="On Windows XP you also need Microsoft .NET Framework 2.0 or above." href="http://www.microsoft.com/en-us/download/details.aspx?id=1639" target="_blank">*</a>.
    No installation is required. Just download and unpack the ZIP archive.
</p>
<p>
    <a class="btn btn-primary" href="http://download.aurelitec.com/htmtied/windows/htmtied-portable.zip" role="button">Download ZIP</a>
    <span class="label label-default m-l-1">Only 15KB</span>
</p>
{% endcapture %}
{% include templates/contentsection.html heading="Portable" %}

{% capture thecontent %}
    <div class="square-middle">
        <a href="http://www.softpedia.com/get/PORTABLE-SOFTWARE/Office/Clipboard/HTMtied-Portable.shtml" target="_blank">
            <img height="120" class="featured-logo" src="/img/third/reviews/s/softpedia/softpedia-clean-award.png" alt="Softpedia Clean Award" />
        </a>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="100% Clean" %}
