---
active      : history
app         : htmtied-windows
appurl      : /htmtied/windows/
layout      : app-page

title       : HTMtied Version History - What's new and improved
description : View HTMtied's full version history and see a comprehensive list of new features and improvements.
---

{% capture thecontent %}

    <h2 class="aur-page-heading">HTMtied Version History</h2>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 2.1</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-check" text="Improved native support for Windows 8.1/8" %}
            {% include templates/history-item.html icon="fa-plus-square" text="New and improved icon" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>May 29, 2013</time>" %}
        </ul>
    </section>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 2.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="Added the ability to convert links en masse through Clipboard or by drag and drop" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Added a Direct Mode that automatically saves the link files to a directory of your choosing" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>August 26, 2010</time>" %}
        </ul>
    </section>

    <section class="aur-content-group">
        <h3 class="aur-content-subheading">Version 1.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="First public release" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>August 10, 2010</time>" %}
        </ul>
    </section>

{% endcapture %}
{% include templates/nosidebar-content.html %}
