---
app         : injuredpixels-windows
appurl      : /injuredpixels/windows/
layout      : app-page

title       : InjuredPixels for Windows License Agreement
description : You are free to use InjuredPixels for Windows to check your PC, laptop or tablet screen for dead pixels, scratches or defects. Read the full License.
---

{% capture thecontent %}
<h2 class="aur-page-heading">InjuredPixels for Windows License Agreement</h2>
{% include various/licenses/apache.html years="2009-2017" %}
{% endcapture %}
{% include templates/nosidebar-content.html %}
