---
active        : overview
app           : colorveil-windows
appurl        : /colorveil/windows/
layout        : app-page
redirect_from : /colorveil/

title         : ColorVeil - Screen color filter and dimmer
description   : Add a color filter over your screen, over any website you visit, and over any program you use. Dim screen brightness, reduce eye strain, and save energy.
image         : /img/apps/colorveil/colorveil-jumbotron-shot.png
---

{% capture thecontent %}
    <div class="row">
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Color Filter</h3>
            <p>ColorVeil adds a customizable color filter over your Desktop, Internet browser, video player, document, email, or program. You can work, play, read, write, or browse as usual. </p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Dyslexia / SSS</h3>
            <p>ColorVeil can help people with Dyslexia and Scotopic Sensitivity Syndrome. It applies a coloured tint across the screen, that can match the prescription from the optometrist.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Extra Dimmer</h3>
            <p>ColorVeil can reduce screen brightness, even below its lowest available setting. This helps you reduce eye strain, especially at night, and may help save battery on notebooks and tablets.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h4 class="item-heading">Customizable</h4>
            <p>ColorVeil lets you easily customize the filter color and opacity. For example, choose Orange to block out the blue light responsible for sleep deprivation.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h4 class="item-heading">Easy On/Off</h4>
            <p>ColorVeil makes it very easy to instantly turn the color filter on and off: simply click its icon in the notification area. Or press a (customizable) keyboard shortcut.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h4 class="item-heading">Portable &amp; Installable</h4>
            <p>You can run ColorVeil on any PC without installation: just download and unpack the ZIP archive. And you can also install and deploy it across your network using the MSI setup.</p>
        </div>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="Features" %}

{% capture thecontent %}
    <div class="row">
        <div class="col-lg-4 content-item">
            <h3 class="quote-heading"><a class="heading-link" href="http://betanews.com/2015/08/21/give-your-screen-a-custom-tint-with-colorveil/" target="_blank">BetaNews</a></h3>
            <p>"Place a color filter over your screen, reducing brightness and cutting eye strain. ... A tiny download - 21.8KB, really?"</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="quote-heading"><a class="heading-link" href="http://www.ilovefreesoftware.com/29/windows/add-color-filter-browser-video-player-desktop.html" target="_blank">I Love Free Software</a></h3>
            <p>"This tool probably offers one of the best ways to minimize eye strain and irritation while using your PC."</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="quote-heading"><a class="heading-link" href="http://www.majorgeeks.com/news/story/new_on_majorgeeks_colorveil.html" target="_blank">MajorGeeks</a></h3>
            <p>"Add a colored filter over your entire desktop for saving you from eye strain, or simply for a fun or nostalgic screen view."</p>
        </div>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="Reviews" %}

{% capture thecontent %}
    <blockquote class="blockquote">
        <p>"We have been looking for the last few years to support children and young people with Dyslexia / Meares Irlen syndrome by way of coloured overlays, but have never been able to find a solution that works on computers. ColorVeil gives us the perfect solution, allowing full customisation by way of overlay to match the colours stated by the optometrist, removing a significant barrier to that young person's learning."</p>
        <footer class="blockquote-footer">Mr M Webster, St Edmund Arrowsmith Catholic High School, UK</footer>
    </blockquote>
{% endcapture %}
{% include templates/contentsection.html heading="Testimonials" %}
