---
active        : overview
app           : colorveil-windows
appurl        : /colorveil/windows/
layout        : app-page
redirect_from : /colorveil/
redirect_to   : https://www.east-tec.com/colorveil/

title         : ColorVeil - Screen color filter and dimmer
description   : Add a color filter over your screen, over any website you visit, and over any program you use. Dim screen brightness, reduce eye strain, and save energy.
image         : /img/apps/colorveil/windows/jumbotron/colorveil-windows-jumbotron-image.png
---

<section class="aur-content-group text-center">
    <div class="row">
        {% include templates/feature.html icon="fa-tint" heading="Color Filter" text="ColorVeil adds a customizable color filter over your Desktop,
        Internet browser, video player, document, email, or program. You can work, play, read, write, or browse as usual." %}

        {% include templates/feature.html icon="fa-low-vision" heading="Dyslexia / SSS" text="ColorVeil can help people with Dyslexia and Scotopic Sensitivity
        Syndrome. It applies a coloured tint across the screen, that can match the prescription from the optometrist." %}

        {% include templates/feature.html icon="fa-eye" heading="Eye Strain" text="ColorVeil can reduce screen brightness, even below its lowest
        available setting. This helps reduce eye strain, especially at night, and can save battery on notebooks and tablets." %}

        {% include templates/feature.html icon="fa-gear" heading="Customizable" text="ColorVeil lets you easily customize the color and opacity of the filter.
        For example, choose an Orange color filter to block out the blue light responsible for sleep deprivation." %}

        {% include templates/feature.html icon="fa-toggle-on" heading="Easy On/Off" text="ColorVeil makes it very easy to instantly turn the color filter on and
        off: simply click the ColorVeil icon in the notification area. Or press a (customizable) keyboard shortcut." %}

        {% include templates/feature.html icon="fa-download" heading="Portable &amp; Installable" text="Run ColorVeil on any PC without installation:
        just download and unpack the ZIP archive. You can also install and deploy it across your network using the MSI setup program." %}
    </div>
</section>

<section class="aur-content-group text-center">
    <h2 class="aur-home-heading">Selected Reviews</h2>
    <div class="row">
        {% include templates/selected-review.html link="http://colorveil.software.informer.com/" source="Software Informer"
        quote="The most convenient solution for dyslexia or SSS when it comes to adjusting the amount of light coming from your display." %}

        {% include templates/selected-review.html link="http://betanews.com/2015/08/21/give-your-screen-a-custom-tint-with-colorveil/" source="BetaNews"
        quote="Place a color filter over your screen, reducing brightness and cutting eye strain. ... A tiny download - 21.8KB, really?" %}

        {% include templates/selected-review.html link="http://www.ilovefreesoftware.com/29/windows/add-color-filter-browser-video-player-desktop.html"
        source="I Love Free Software" quote="This tool probably offers one of the best ways to minimize eye strain and irritation while using your PC." %}
    </div>
</section>

{% capture thecontent %}
    <blockquote class="blockquote">
        <p>"We have been looking for the last few years to support children and young people with Dyslexia / Scotopic Sensitivity Syndrome by way of coloured overlays, but have never been able to find a solution that works on computers. ColorVeil gives us the perfect solution, allowing full customisation by way of overlay to match the colours stated by the optometrist, removing a significant barrier to that young person's learning."</p>
        <footer class="blockquote-footer">Mr M Webster, St Edmund Arrowsmith Catholic High School, UK</footer>
    </blockquote>
{% endcapture %}
{% include templates/contentsection.html heading="Testimonials" %}
