---
title: Free Portable Apps - Focus And Simplify
layout: default-page
description: Free, out of the box apps that help you work smarter and better. Born
  1999. Home of CinemaDrape, ColorVeil, InjuredPixels, PixelHealer, Colortypist, &amp;
  more.
---

<div id="homepage-carousel" class="carousel slide aur-homepage-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#homepage-carousel" data-slide-to="1"></li>
        <li data-target="#homepage-carousel" data-slide-to="2"></li>
        <li data-target="#homepage-carousel" data-slide-to="3"></li>
        <li data-target="#homepage-carousel" data-slide-to="4"></li>
        <li data-target="#homepage-carousel" data-slide-to="5"></li>
        <li data-target="#homepage-carousel" data-slide-to="6"></li>
        <li data-target="#homepage-carousel" data-slide-to="7"></li>
        <li data-target="#homepage-carousel" data-slide-to="8"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active justify-content-center">
            {% include jumbotrons/cinemadrape-windows.html %}
        </div>
        <div class="carousel-item justify-content-center">
            {% include jumbotrons/colorveil-windows.html %}
        </div>
        <div class="carousel-item justify-content-center">
            {% include jumbotrons/injuredpixels-windows.html %}
        </div>
        <div class="carousel-item justify-content-center">
            {% include jumbotrons/injuredpixels-android.html %}
        </div>
        <div class="carousel-item justify-content-center">
            {% include jumbotrons/pixelhealer-windows.html %}
        </div>
        <div class="carousel-item justify-content-center">
            {% include jumbotrons/colortypist-windows.html %}
        </div>
        <div class="carousel-item justify-content-center">
            {% include jumbotrons/whatsmyco-web.html %}
        </div>
        <div class="carousel-item justify-content-center">
            {% include jumbotrons/thumbico-windows.html %}
        </div>
        <div class="carousel-item justify-content-center">
            {% include jumbotrons/htmtied-windows.html %}
        </div>
    </div>

    <a class="carousel-control-prev" href="#homepage-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#homepage-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="home-featured-stripe">
    {% include stripes/featured/home.html %}
</div>

<!-- Main Content -->
<main class="aur-site-main">
    <div class="container">
        <div class="row">
            {% include templates/selected-review.html link="http://download.cnet.com/Colortypist/3000-2072_4-75627679.html" source="CNET Download.com"
            quote="It's clear that this program was not only made for graphic designers, but by them, as well. ... Colortypist is a phenomenal download to
            have." %}

            {% include templates/selected-review.html link="/colorveil/windows/testimonials/middlewichhigh/" source="Middlewich High School"
            quote="We are highly satisfied with this outcome, commend the developer for his generous work and would very much recommend ColorVeil to other
            schools." %}

            {% include templates/selected-review.html link="http://www.freewaregenius.com/create-internet-bookmarks-as-browser-independent-files-on-your-desktop-with-htmtied/" source="Freewaregenius"
            quote="The verdict: this is simply brilliant. ... Kudos to the developers for a great implementation of such a simple yet brilliant idea." %}
        </div>
    </div>
</main>
