---
active      : history
app         : injuredpixels-android
appurl      : /injuredpixels/android/
layout      : app-page

title       : InjuredPixels For Android - Version History - What's new
description : View full version history for InjuredPixels for Android, and see a comprehensive list of new features and improvements.
---

{% capture thecontent %}

    <h2 class="aur-page-heading">InjuredPixels For Android Version History</h2>

    <section class="aur-content-group">
        <h3 class="aur-content-subheading">Version 1.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="First public release" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>February 19, 2016</time>" %}
        </ul>
    </section>

{% endcapture %}
{% include templates/nosidebar-content.html %}
