---
active      : press
app         : colorveil-windows
appurl      : /colorveil/windows/
layout      : app-page

title       : ColorVeil Version History - What's new and improved
description : View ColorVeil's full version history and see a comprehensive list of new features and improvements.
---

{% capture thecontent %}
    <h1 class="page-heading">ColorVeil Press Kit</h1>
    <h3 class="item-heading">Short Description</h3>
    <p>ColorVeil adds a color filter over your screen and over any application you are using. It helps with eye strain, Dyslexia, Scotopic Sensitivity Syndrome, or Visual Stress. You can easily turn the filter on and off, and customize the filter color and opacity. Try any color or tint to see which one works best for you (for example choose Orange that is known to block out the blue light responsible for sleep deprivation). Easy to use and portable.</p>
    <h3 class="item-heading">PAD Data Sheet</h3>
    <p>The Portable Application Description file contains product descriptions, download links, version and file size information, affiliate links, and more.</p>
    <ul class="nav nav-inline mb-2">
        <!-- <li class="nav-item">
            <a class="nav-link download-link" href="http://wiki.appvisor.org/ColorVeil" target="_blank">View PAD Summary</a>
        </li> -->
        <li class="nav-item">
            <!-- <a class="nav-link download-link" href="http://repository.appvisor.com/info/app-4e0056aec80f/ColorVeil_pad.xml" target="_blank">View PAD XML File</a> -->
            <a class="nav-link download-link" href="http://download.aurelitec.com/colorveil/windows/pad/ColorVeil_pad.xml" target="_blank">View PAD XML File</a>
        </li>
    </ul>
{% endcapture %}
{% include templates/contentsection.html heading="Info" %}

{% capture thecontent %}
    <div class="row">
        <div class="col-sm-6 col-lg-4 mb-2">
            <a href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-1024.png" target="_blank">
                <img class="img-fluid" src="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-128.png" alt="ColorVeil Icon">
            </a>
        </div>

        <div class="col-sm-6 col-lg-4">
            <h4>Download as</h4>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-1024.png" download="">
                        PNG, 1024 x 1024
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-512.png" download="">
                        PNG, 512 x 512
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-256.png" download="">
                        PNG, 256 x 256
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-128.png" download="">
                        PNG, 128 x 128
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-lg-4">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-64.png" download="">
                        PNG, 64 x 64
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-48.png" download="">
                        PNG, 48 x 48
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-32.png" download="">
                        PNG, 32 x 32
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-24.png" download="">
                        PNG, 24 x 24
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/colorveil/windows/press/icon/colorveil-windows-icon-16.png" download="">
                        PNG, 16 x 16
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="Icon" %}

{% capture thecontent %}
    <div class="row">
        <div class="col-sm-6 col-lg-4 mb-2">
            <a href="/img/apps/colorveil/windows/press/screenshots/colorveil-screenshot-main.png" download="">
                <img class="img-fluid screenshot" src="/img/apps/colorveil/windows/press/screenshots/colorveil-screenshot-main-thumb.png" alt="ColorVeil Main Screenshot">
            </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-2">
            <a href="/img/apps/colorveil/windows/press/screenshots/colorveil-screenshot-settings-general.png" download="">
                <img class="img-fluid screenshot" src="/img/apps/colorveil/windows/press/screenshots/colorveil-screenshot-settings-general-thumb.png" alt="ColorVeil General Settings Screenshot">
            </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-2">
            <a href="/img/apps/colorveil/windows/press/screenshots/colorveil-screenshot-blue.png" download="">
                <img class="img-fluid screenshot" src="/img/apps/colorveil/windows/press/screenshots/colorveil-screenshot-blue-thumb.png" alt="ColorVeil Blue Filter Screenshot">
            </a>
        </div>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="Screenshots" %}
