---
active      : history
app         : cinemadrape-windows
appurl      : /cinemadrape/windows/
layout      : app-page

title       : CinemaDrape Version History - What's new and improved
description : View CinemaDrape's full version history and see a comprehensive list of new features and improvements.
---

{% capture thecontent %}

    <h2 class="aur-page-heading">CinemaDrape Version History</h2>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 2.1</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-check" text="Improved native support for Windows 10/8.1/8" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>March 9, 2015</time>" %}
        </ul>
    </section>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 2.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="Transparent focus areas can now be added using the mouse, like drawing rectangles" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Added the ability to create as many focus areas as you need" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Added the ability to save the focus areas for future reuse in any number of layout files" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Added a customizable keyword shortcut to pause and resume the drape" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>November 28, 2012</time>" %}
        </ul>
    </section>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 1.2</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-check" text="Added new menu items to simplify changing the shortcut keys that start CinemaDrape" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>August 06, 2010</time>" %}
        </ul>
    </section>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 1.1</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="Added an option to temporarily pause and reveal the entire screen" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Added menu options for standard focus area sizes" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Added the ability to restore the previously selected focus area" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Added a menu option to set a random drape color" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>May 28, 2010</time>" %}
        </ul>
    </section>

    <section class="aur-content-group">
        <h3 class="aur-content-subheading">Version 1.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="First public release" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>February 01, 2010</time>" %}
        </ul>
    </section>

{% endcapture %}
{% include templates/nosidebar-content.html %}
