---
title: Reviews and Testimonials - What others are saying
layout: info-page
heading: Reviews
description: Read more reviews like "The verdict&#58; this is simply brilliant. ...
  Kudos to the developers for a great implementation of such a simple yet brilliant
  idea."
---

{% capture thecontent %}

{% for appreviews in site.data.reviews %}
{% assign curappreviews = appreviews[1] %}

    {% for review in curappreviews %}
        {% include templates/review.html showappname="true" %}
    {% endfor %}

{% endfor %}


{% assign reviews = site.reviews | sort: 'by', 'last' %}
{% for review in reviews %}
    {% include templates/review.html showappname="true" %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Reviews" %}

{% capture thecontent %}
{% assign testimonials = site.testimonials | sort: 'by', 'last' %}
{% for testimonial in testimonials %}
    {% include templates/testimonial.html showappname="true" %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Testimonials" %}
