---
active        : overview
app           : whatsmyco-web
appurl        : /whatsmyco/web/
layout        : app-page
redirect_from : /whatsmyco/

title         : WhatsMyCo - Type your name and get your matching color
description   : Open WhatsMyCo in your browser, type your name or text, and get your matching color! A fun and personal way to discover colors!
image         : /img/apps/whatsmyco/web/whatsmyco-jumbotron-shot.png
---

<section class="aur-content-group text-center">
    <div class="row">
        {% include templates/feature.html icon="fa-font" heading="Type Anything" text="Type your own name. Or any name, title, quote, sentence. Or even
        upload files. And get a matching color." %}

        {% include templates/feature.html icon="fa-tint" heading="Fun Color Discovery" text="A fun and personal way to discover and share beautiful
        colors, or inspiration for any task that requires color." %}

        {% include templates/feature.html icon="fa-heart-o" heading="Colors To Love" text="Turn words you love into colors you love. Use them to breath
        new life into your Internet persona and online presence." %}

        {% include templates/feature.html icon="fa-copy" heading="Use The Colors" text="It's easy to copy the colors and their codes, and even use them
        as profile photos, or as beautiful modern wallpapers." %}

        {% include templates/feature.html icon="fa-share-alt" heading="Share The Colors" text="With the <i>Share on Facebook</i> button, it's an easy task to
        post your favorite color on your Facebook profile." %}

        {% include templates/feature.html icon="fa-globe" heading="Works Anywhere" text="There is nothing to install. All you need is a modern browser
        running on any PC, notebook, tablet, or smartphone." %}
    </div>
</section>

<section class="aur-content-group text-center">
    <h2 class="aur-home-heading">Selected Reviews</h2>
    <div class="row">
        {% include templates/selected-review.html link="http://www.ilovefreesoftware.com/16/webware/find-matching-color-name-text.html" source="I Love Free Software"
        quote="WhatsMyCo is a pretty interesting concept. ... Is this website useful? I doubt it. Is it fun? It sure is." %}

        {% include templates/selected-review.html link="http://www.rockybytes.com/whatsmyco" source="Rocky Bytes"
        quote="Do you sometimes think about the colors that different things might be? Neither did I until recently. (5 Stars – It Rocks!)" %}

        {% include templates/selected-review.html link="http://computertaal.info/2013/11/14/wat-is-mijn-kleur/" source="Computertaal"
        quote="Maybe you can use it to give your wedding card a personal touch: just combine your color with that of your partner." %}
    </div>
</section>
