---
app         : whatsmyco-web
active      : download
appurl      : /whatsmyco/web/
layout      : download-page

title       : WhatsMyCo - Run In Your Browser
description : Run WhatsMyCo in any modern browser, and on any device - on PCs, notebooks, tablets, or smartphones. No install and no plugins required.
---

{% capture thecontent %}
    <p class="square-middle">
        WhatsMyCo is free for use in any environment, including but not necessarily limited to: personal, academic,
        commercial, government, business, non-profit, and for-profit. Before using WhatsMyCo, you must accept its
        <a href="/whatsmyco/web/license/">License Agreement</a>.
    </p>
{% endcapture %}
{% include templates/contentsection.html heading="License" %}

{% capture thecontent %}
    <p>WhatsMyCo works in any modern browser, and on any device: PCs, notebooks, tablets, or smartphones. No install and no plugins required.</p>
    <p>
        <a class="btn btn-primary" href="http://whatsmyco.aurelitec.com/" target="_blank" role="button">Run In Your Browser</a>
    </p>
{% endcapture %}
{% include templates/contentsection.html heading="Run" %}
