---
app         : cinemadrape-windows
appurl      : /cinemadrape/windows/
layout      : app-page

title       : CinemaDrape License Agreement - Free for home and business
description : You are free to use CinemaDrape to focus on your current task, by blanking or dimming other screen areas. Read the full License Agreement.
---

{% capture thecontent %}
{% include various/licenses/freeware.html appname="CinemaDrape" years="2010-2016" %}
{% endcapture %}
{% include templates/nosidebar-content.html %}
