---
app         : cinemadrape-windows
appurl      : /cinemadrape/windows/
layout      : app-page

title       : CinemaDrape License Agreement - Free for home and business
description : You are free to use CinemaDrape to focus on your current task, by blanking or dimming other screen areas. Read the full License Agreement.
---

{% capture thecontent %}
<h2 class="aur-page-heading">CinemaDrape License Agreement</h2>
{% include various/licenses/gpl3.html appname="CinemaDrape" %}
{% endcapture %}
{% include templates/nosidebar-content.html %}
