<!-- HTMtied Secondary Menu -->
<div class="container stripe-secondary-menu">
    <nav class="nav nav-inline secondary-menu">
        <a class="nav-link{% if page.active == 'overview' %} active{% endif %}" href="/htmtied/windows/">Overview</a>
        <a class="nav-link{% if page.active == 'help' %} active{% endif %}" href="/htmtied/windows/help/">Help</a>
        <a class="nav-link{% if page.active == 'reviews' %} active{% endif %}" href="/htmtied/reviews/">Reviews</a>
        <a class="nav-link{% if page.active == 'history' %} active{% endif %}" href="/htmtied/windows/history/">History</a>
        <a class="nav-link{% if page.active == 'download' %} active{% endif %}" href="/htmtied/windows/download/">Download</a>
    </nav>
</div>
