<!-- InjuredPixels for Android Secondary Menu -->
<div class="container stripe-secondary-menu">
    <nav class="nav nav-inline secondary-menu">
        <a class="nav-link{% if page.active == 'overview' %} active{% endif %}" href="/injuredpixels/android/">Overview</a>
        <a class="nav-link{% if page.active == 'help' %} active{% endif %}" href="/injuredpixels/android/help/">Help</a>
        <a class="nav-link{% if page.active == 'reviews' %} active{% endif %}" href="/injuredpixels/android/reviews/">Reviews</a>
        <a class="nav-link{% if page.active == 'history' %} active{% endif %}" href="/injuredpixels/android/history/">History</a>
        <a class="nav-link{% if page.active == 'install' %} active{% endif %}" href="/injuredpixels/android/install/">Install</a>
    </nav>
</div>
