<!-- WhatsMyCo Web Secondary Menu -->
<div class="container stripe-secondary-menu">
    <nav class="nav nav-inline secondary-menu">
        <a class="nav-link{% if page.active == 'overview' %} active{% endif %}" href="/whatsmyco/web/">Overview</a>
        <a class="nav-link{% if page.active == 'help' %} active{% endif %}" href="/whatsmyco/web/help/">Help</a>
        <a class="nav-link{% if page.active == 'reviews' %} active{% endif %}" href="/whatsmyco/web/reviews/">Reviews</a>
        <a class="nav-link{% if page.active == 'history' %} active{% endif %}" href="/whatsmyco/web/history/">History</a>
        <a class="nav-link{% if page.active == 'run' %} active{% endif %}" href="/whatsmyco/web/run/">Run</a>
    </nav>
</div>
