<!-- Secondary Menu -->
<section class="aur-secondary-menu-stripe">
    <div class="container">
        <nav class="aur-secondary-menu" >
            <div class="row no-gutters justify-content-center">
                <div class="col-4 col-sm">
                    <a class="nav-link{% if page.active == 'overview' %} active{% endif %}" href="{{ site.url }}{{page.appurl}}">Overview</a>
                </div>
                <div class="col-4 col-sm">
                    <a class="nav-link{% if page.active == 'help' %} active{% endif %}" href="{{ site.url }}{{page.appurl}}help/">Help</a>
                </div>
                <div class="col-4 col-sm">
                    <a class="nav-link{% if page.active == 'reviews' %} active{% endif %}" href="{{ site.url }}{{page.appurl}}reviews/">Reviews</a>
                </div>
                <div class="col-4 col-sm">
                    <a class="nav-link{% if page.active == 'history' %} active{% endif %}" href="{{ site.url }}{{page.appurl}}history/">History</a>
                </div>
                <div class="col-4 col-sm">
                    <a class="nav-link{% if page.active == 'download' %} active{% endif %}" href="{{ site.url }}{{page.appurl}}download/">Download</a>
                </div>
            </div>
        </nav>
    </div>
</section>
