---
active      : history
app         : thumbico-windows
appurl      : /thumbico/windows/
layout      : app-page

title       : Thumbico Version History - What's new and improved
description : View Thumbico's full version history and see a comprehensive list of new features and improvements.
---

{% capture thecontent %}
<ul class="list-group">
    <li class="list-group-item">
        <span class="label label-default label-pill pull-xs-right">New</span>
        Added portable and installer editions
    </li>
    <li class="list-group-item">Improved native support for Windows 10/8.1/8</li>
    <li class="list-group-item"><time class="text-muted"><small>November 07, 2015</small></time></li>
</ul>
{% endcapture %}
{% include templates/contentsection.html heading="Version 1.5" %}

{% capture thecontent %}
<ul class="list-group">
    <li class="list-group-item">
        <span class="label label-default label-pill pull-xs-right">New</span>
        First public release
    </li>
    <li class="list-group-item"><time class="text-muted"><small>January 21, 2011</small></time></li>
</ul>
{% endcapture %}
{% include templates/contentsection.html heading="Version 1.0" %}
