---
title: Thumbico Version History - What's new and improved
active: history
app: thumbico-windows
appurl: "/thumbico/windows/"
layout: app-page
description: View Thumbico's full version history and see a comprehensive list of
  new features and improvements.
---

{% capture thecontent %}

    <h2 class="aur-page-heading">Thumbico Version History</h2>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 1.5</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="Added portable and installer editions" %}
            {% include templates/history-item.html icon="fa-check" text="Improved native support for Windows 10/8.1/8" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>November 07, 2015</time>" %}
        </ul>
    </section>

    <section class="aur-content-group">
        <h3 class="aur-content-subheading">Version 1.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="First public release" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>January 21, 2011</time>" %}
        </ul>
    </section>

{% endcapture %}
{% include templates/nosidebar-content.html %}
