---
title: Thumbico Reviews And Testimonials - What others are saying
active: reviews
app: thumbico-windows
appurl: "/thumbico/windows/"
layout: app-page
description: \"The simplicity of the application is its greatest strength, in my opinion.
  To load an image, just drag and drop it onto the main interface.\"
---

{% capture thecontent %}
{% assign reviews = site.reviews | where: 'app', 'Thumbico' | sort: 'by', 'last' %}
{% for review in reviews %}
    {% include templates/review.html %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Reviews" %}
