---
active : download
app    : colortypist-windows
appurl : /colortypist/windows/
layout : app-page
---

{% capture thecontent %}
    <p class="square-middle">
        Colortypist is free for use in any environment, including but not necessarily limited to: personal, academic,
        commercial, government, business, non-profit, and for-profit. Before using Colortypist, you must accept
        its <a href="/colortypist/windows/license/">License Agreement</a>.
    </p>
{% endcapture %}
{% include templates/contentsection.html heading="License" %}

{% capture thecontent %}
<h3 class="item-heading">Install Colortypist 4.0.1.110</h3>
<p>
    Colortypist runs on any PC, laptop or tablet with Windows 10, 8, 7, Vista, or
    XP<a title="On Windows XP you also need Microsoft .NET Framework 2.0 or above." href="http://www.microsoft.com/en-us/download/details.aspx?id=1639" target="_blank">*</a>.
    The Installer program will copy Colortypist on your PC, create a Start Menu entry, and set up an uninstaller.
</p>
<p>
    <a class="btn btn-primary" href="http://download.aurelitec.com/colortypist/windows/colortypist-installer.exe" role="button">Download EXE</a>
    <span class="label label-default m-l-1">Only 112KB</span>
</p>
{% endcapture %}
{% include templates/contentsection.html heading="Install" %}

{% capture thecontent %}
<h3 class="item-heading">Download Colortypist 4.0.1.110 Portable</h3>
<p>
    Colortypist runs on any PC, laptop or tablet with Windows 10, 8, 7, Vista, or
    XP<a title="On Windows XP you also need Microsoft .NET Framework 2.0 or above." href="http://www.microsoft.com/en-us/download/details.aspx?id=1639" target="_blank">*</a>.
    No installation is required. Just download and unpack the ZIP archive.
</p>
<p>
    <a class="btn btn-primary" href="http://download.aurelitec.com/colortypist/windows/colortypist-portable.zip" role="button">Download ZIP</a>
    <span class="label label-default m-l-1">Only 39KB</span>
</p>
{% endcapture %}
{% include templates/contentsection.html heading="Portable" %}

{% capture thecontent %}
    <div class="square-middle">
        <a href="http://www.softpedia.com/get/Internet/WEB-Design/Web-Design-related/colortypist.shtml" target="_blank">
            <img height="120" class="featured-logo" src="/img/third/reviews/s/softpedia/softpedia-clean-award.png" alt="Softpedia Clean Award" />
        </a>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="100% Clean" %}
