---
active      : press
app         : injuredpixels-android
appurl      : /injuredpixels/android/
layout      : app-page

title       : InjuredPixels for Android Press Kit
description : "InjuredPixels for Android resources and information for reporters and publishers: product descriptions, download information, product icon and screenshots."
---

{% capture thecontent %}
    <h1 class="page-heading">InjuredPixels for Android Press Kit</h1>
    <h3 class="item-heading">Short Description</h3>
    <p>Easily check your PC, laptop or tablet screen for dead pixels, scratches or defects. Use the portable version to test screens in the store, before buying, or during the warranty period, as you may get a get a replacement according to the manufacturer's dead pixel policy. InjuredPixels fills the entire screen with a primary or custom color, helping you easily spot pixels that do not match the selected color. Tiny, free and open source.</p>
    <h3 class="item-heading">System Requirements</h3>
    <p>InjuredPixels runs on all Android versions starting with version 4.4.</p>
    <h3 class="item-heading">PAD Data Sheet</h3>
    <p>The Portable Application Description file contains product descriptions, download links, version and file size information, affiliate links, and more.</p>
    <ul class="nav nav-inline mb-2">
        <li class="nav-item">
            <a class="nav-link download-link" href="http://repository.appvisor.com/info/app-69001d3e1b25/InjuredPixels_pad.xml" target="_blank">View PAD XML File</a>
        </li>
    </ul>
{% endcapture %}
{% include templates/contentsection.html heading="Info" %}

{% capture thecontent %}
    <div class="row">
        <div class="col-sm-6 col-lg-4 mb-2">
            <a href="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-512.png" target="_blank">
                <img class="img-fluid" src="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-128.png" alt="InjuredPixels for Windows Icon">
            </a>
        </div>

        <div class="col-sm-6 col-lg-4">
            <h4>Download as</h4>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-512.png" download="">
                        PNG, 512 x 512
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-256.png" download="">
                        PNG, 256 x 256
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-128.png" download="">
                        PNG, 128 x 128
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-64.png" download="">
                        PNG, 64 x 64
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-6 col-lg-4">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-48.png" download="">
                        PNG, 48 x 48
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-32.png" download="">
                        PNG, 32 x 32
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-24.png" download="">
                        PNG, 24 x 24
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link download-link" href="/img/apps/injuredpixels/android/press/icon/injuredpixels-windows-icon-16.png" download="">
                        PNG, 16 x 16
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="Icon" %}

{% capture thecontent %}
    <div class="row">
        <div class="col-sm-6 col-lg-4 mb-2">
            <a href="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-black-and-menu.png"
            download=""> <img class="img-fluid screenshot"
            src="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-black-and-menu-thumb.png"
            alt="InjuredPixels for Windows - Black And Menu Screenshot"> </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-2">
            <a href="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-red-and-menu.png"
            download=""> <img class="img-fluid screenshot"
            src="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-red-and-menu-thumb.png"
            alt="InjuredPixels for Windows - Red And Menu Screenshot"> </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-2">
            <a
            href="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-custom-color-and-menu.png"
            download=""> <img class="img-fluid screenshot"
            src="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-custom-color-and-menu-thumb.png"
            alt="InjuredPixels for Windows - Custom Color And Menu Screenshot"> </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-2">
            <a href="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-white-and-menu-device.png"
            download=""> <img class="img-fluid screenshot"
            src="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-white-and-menu-device-thumb.png"
            alt="InjuredPixels for Windows - White And Menu Device Screenshot"> </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-2">
            <a
            href="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-blue-screen-device.png"
            download=""> <img class="img-fluid screenshot"
            src="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-blue-screen-device-thumb.png"
            alt="InjuredPixels for Windows - Blue Screen Device Screenshot"> </a>
        </div>
        <div class="col-sm-6 col-lg-4 mb-2">
            <a href="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-green-screen-device.png"
            download=""> <img class="img-fluid screenshot"
            src="/img/apps/injuredpixels/windows/press/screenshots/injuredpixels-screenshot-green-screen-device-thumb.png"
            alt="InjuredPixels for Windows - Green Screen Device Screenshot"> </a>
        </div>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="Screenshots" %}
