---
app         : colortypist-windows
appurl      : /colortypist/windows/
layout      : app-page

title       : Colortypist License Agreement - Free for home and business
description : You are free to use Colortypist to type in a color name or code, and see it fill your screen in real-time, while you type. Read the full License Agreement.

---

{% capture thecontent %}
{% include various/licenses/freeware.html appname="Colortypist" years="2011-2016" %}
{% endcapture %}
{% include templates/nosidebar-content.html %}
