---
title: HTMtied Reviews And Testimonials - What others are saying
active: reviews
app: htmtied-windows
appurl: "/htmtied/windows/"
layout: app-page
description: \"The verdict&#58; this is simply brilliant. ... Kudos to the developers
  for a great implementation of such a simple yet brilliant idea.\"
---

{% capture thecontent %}
{% assign reviews = site.reviews | where: 'app', 'HTMtied' | sort: 'by', 'last' %}
{% for review in reviews %}
    {% include templates/review.html %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Reviews" %}

{% capture thecontent %}
{% assign testimonials = site.testimonials | where: 'app', 'HTMtied' | sort: 'by', 'last' %}
{% for testimonial in testimonials %}
    {% include templates/testimonial.html %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Testimonials" %}
