---
active      : download
app         : injuredpixels-windows
appurl      : /injuredpixels/windows/
layout      : download-page

title       : InjuredPixels for Windows - Free Download
description : Download, install and run InjuredPixels on any PC, notebook or tablet with Windows 10, 8, 7, Vista, or XP. A portable version is also available.
---

{% capture thecontent %}
    <p class="square-middle">
        InjuredPixels is free for use in any environment, including but not necessarily limited to: personal, academic,
        commercial, government, business, non-profit, and for-profit. Before using InjuredPixels, you must accept its
        <a href="{{site.baseurl}}/injuredpixels/windows/license/">License Agreement</a>.
    </p>
{% endcapture %}
{% include templates/contentsection.html heading="License" %}

{% capture thecontent %}
<h3 class="item-heading">Install InjuredPixels 3.5.0.100</h3>
<p>
    InjuredPixels runs on any PC, laptop or tablet with Windows 10, 8, 7, Vista, or
    XP<a title="On Windows XP you also need Microsoft .NET Framework 2.0 or above." href="http://www.microsoft.com/en-us/download/details.aspx?id=1639" target="_blank">*</a>.
    The Installer program will copy InjuredPixels on your PC, create a Start Menu entry, and set up an uninstaller.
</p>
<p>
    <a class="btn btn-primary" href="http://download.aurelitec.com/injuredpixels/windows/injuredpixels-install.exe" role="button">Download EXE</a>
    <span class="label label-default m-l-1">Only 98KB</span>
</p>
{% endcapture %}
{% include templates/contentsection.html heading="Install" %}

{% capture thecontent %}
<h3 class="item-heading">Download InjuredPixels 3.5.0.100 Portable</h3>
<p>
    InjuredPixels runs on any PC, laptop or tablet with Windows 10, 8, 7, Vista, or
    XP<a title="On Windows XP you also need Microsoft .NET Framework 2.0 or above." href="http://www.microsoft.com/en-us/download/details.aspx?id=1639" target="_blank">*</a>.
    No installation is required. Just download and unpack the ZIP archive.
</p>
<p>
    <a class="btn btn-primary" href="http://download.aurelitec.com/injuredpixels/windows/injuredpixels-portable.zip" role="button">Download ZIP</a>
    <span class="label label-default m-l-1">Only 25KB</span>
</p>
{% endcapture %}
{% include templates/contentsection.html heading="Portable" %}

{% capture thecontent %}
<h3 class="item-heading">Run InjuredPixels HTA 3.5.0.100</h3>
<p>
    InjuredPixels HTA (HTML Application) is a tiny special kind of web page that can be run by Internet Explorer as a
    normal Windows program. It runs on any PC, laptop or tablet with Windows 10, 8, 7, Vista, or XP. No installation
    is required. Just download and select Open or Run.
</p>
<p>
    <a class="btn btn-primary" href="http://download.aurelitec.com/injuredpixels/web/hta/injuredpixels.hta" role="button">Download HTA</a>
    <span class="label label-default m-l-1">Only 17KB</span>
</p>
{% endcapture %}
{% include templates/contentsection.html heading="HTA" %}

{% capture thecontent %}
    <div class="square-middle">
        <a href="http://www.softpedia.com/get/System/System-Miscellaneous/InjuredPixels.shtml" target="_blank">
            <img height="120" class="featured-logo" src="{{site.baseurl}}/img/third/reviews/s/softpedia/softpedia-clean-award.png" alt="Softpedia Clean Award" />
        </a>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="100% Clean" %}
