---
active      : reviews
app         : pixelhealer-windows
appurl      : /pixelhealer/windows/
layout      : app-page

title       : PixelHealer Reviews And Testimonials
description : \"An effective money-saving solution ... and a very user-friendly app that can be used by users of any skill level. We recommend this utility to all users.\"
---

{% capture thecontent %}
        {% assign reviews = site.data.reviews.pixelhealer | where: 'platform', 'windows' | sort: 'by', 'last' %}
        {% for review in reviews %}
            {% include templates/review.html %}
        {% endfor %}

{% assign reviews = site.reviews | where: 'app', 'PixelHealer' | sort: 'by', 'last' %}
{% for review in reviews %}
    {% include templates/review.html %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Reviews" %}
