---
active      : history
app         : whatsmyco-web
appurl      : /whatsmyco/web/
layout      : app-page

title       : WhatsMyCo Version History - What's new and improved
description : View WhatsMyCo's full version history and see a comprehensive list of new features and improvements.
---

{% capture thecontent %}

    <h2 class="aur-page-heading">WhatsMyCo Version History</h2>

    <section class="aur-content-group">
        <h3 class="aur-content-subheading">Version 1.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="First public release" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>November 12, 2013</time>" %}
        </ul>
    </section>

{% endcapture %}
{% include templates/nosidebar-content.html %}
