/* ==========================================================================
   Common Content Styles
   ========================================================================== */

/*
* Headings
*/

.page-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* Bluish square section heading */

.section-heading {
    background: #1badea;
    border-left: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    margin: 0 0 3rem 0;
    text-align: center;
    width: 120px;
}

@media (min-width: 992px) {
    .section-heading {
        height: 140px;
        line-height: 140px;
        width: 140px;
    }
}

.item-heading {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.quote-heading {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


/*
 * Links
 */

.heading-link:focus, .heading-link:hover {
    color: #000;
    text-decoration: none;
}


/*
* Buttons
*/

.btn-primary {
  background: linear-gradient(to top, #757676 0%,#222222 0%,#4c4c4c 69%,#757676 98%) #494a4e;
  border: 2px solid #fff;
  font-size: 1.4rem;
  padding: 0.25rem 1rem;
}

.btn-primary:focus, .btn-primary:hover {
  background: #494a4e;
  border-color: #fff;
}


/*
 * Lists
 */

 .list-group {
     margin-bottom: 1rem;
 }

 .list-group-item {
     border: none;
     border-top: 1px solid #eee;
 }

 .list-group-item:first-child, .list-group-item:last-child {
     border-radius: 0;
 }


/*
 * Structure
 */

 .content-item {
     margin-bottom: 2rem;
 }

.square-middle {
    height: 140px;
    display: table-cell;
    vertical-align: middle;
}
