/* ==========================================================================
   Common Content Styles
   ========================================================================== */

/*
* Headings
*/

.aur-content-item-heading {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.page-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.aur-page-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.aur-content-heading {
    font-weight: bold;
    margin-bottom: 2rem;
}

.aur-content-subheading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.aur-content-subsubheading {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


.aur-home-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;
}

/* Bluish square section heading */

.section-heading {
    background: #1badea;
    border-left: 2px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    margin: 0 0 3rem 0;
    text-align: center;
    width: 120px;
}

@media (min-width: 992px) {
    .section-heading {
        height: 140px;
        line-height: 140px;
        width: 140px;
    }
}

.aur-quote-heading {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}



/*
 * Links
 */

.aur-heading-link:focus, .aur-heading-link:hover {
    color: #384452;
    text-decoration: none;
}

.download-link {
    font-weight: bold;
    margin-bottom: 0.25rem;
    padding: 0.25rem 0;
}

/*
* Buttons
*/

.btn-primary {
    background: #384452;
    border: 2px solid #fff;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 0.25rem 1rem;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
    background: #1badea;
    border-color: #fff;
    color: #fff;
}

/*
 * Lists
 */

.aur-vert-logo-list {
    text-align: center;
}

.aur-vert-logo-list li {
    border-bottom: 2px solid #384452;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.aur-vert-logo-list li:last-child {
    border-bottom: none;
}

.aur-strong-list li {
    font-weight: bold;
    margin-bottom: 1rem;
}

/*.list-group {
    margin-bottom: 1rem;
}

.list-group-item {
    border: none;
    border-top: 1px solid #eee;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0;
}*/


/*
 * Structure
 */

.aur-content-item {
    margin-bottom: 2rem;
}

.aur-content-group {
    margin-bottom: 4rem;
}

.aur-content-group-hr {
    margin-bottom: 3rem;
    border-bottom: 1px solid #cecece;
    padding-bottom: 2rem;
}

.aur-content-subgroup {
    margin-bottom: 3rem;
}

.square-middle {
    height: 140px;
    display: table-cell;
    vertical-align: middle;
}

/*
 * Icons
 */

.aur-icon-feature {
    color: #1badea;
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
}

.aur-icon-social {
    color: #fff;
    font-size: 2rem;
}

.aur-icon-social:focus, .aur-icon-social:hover {
    color: #1badea;
}




.inline-logo {
    height: 30px;
}




.aur-container-no-gutters {
    padding-left: 0;
    padding-right: 0;
}

.aur-featured-badge {
    /*background: #1badea;*/
    background: #384452;
    /*border: 1px solid #cecece;*/
    /*color: #384452;*/
    /*color: #fff;*/
    /*flex-grow: 1;*/
    font-size: 1rem;
    margin-bottom: 0.25rem;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
}

.aur-featured-badge[href]:focus, .aur-featured-badge[href]:hover {
  background-color: #1badea;
}

.aur-social-badge {
    margin-bottom: 1.5rem;
    min-width: 15rem;
}

.aur-fa-logo {
    color: #000;
    font-size: 8rem;
}
