/* ==========================================================================
   Base styles
   ========================================================================== */

body {
    color: #384452;
    font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #1badea;
}

a:focus, a:hover {
    color: #1badea;
    text-decoration: underline;
}

.blockquote {
    border-left: none;
    font-size: 1rem;
    padding: 0;
}


/* ==========================================================================
   Site Header with Navbar
   ========================================================================== */

.navbar.bg-dark {
    background-color: #384452!important;
}

@media (max-width: 575px) {
  .navbar > .container {
    margin-right: 0;
    margin-left: 0;
  }
}

/* Toggler */

.navbar-toggler:focus, .navbar-toggler:hover {
    /*border-color: #fff;*/
    outline-color: #fff;
}

.navbar-toggler-right {
    top: 0.15rem;
}

@media (min-width: 576px) {
    .navbar-toggler-right {
        top: 0.35rem;
    }
}

/* Brand */

.navbar-brand img {
    height: 35px;
}

@media (min-width: 576px) {
    .navbar-brand img {
        height: 45px;
    }
}

/* Collapse */

@media (max-width: 767px) {
    .navbar-collapse {
        border-top: 2px solid #fff;
        margin-top: 1rem;
        padding-top: 0.5rem;
    }
}

/* Nav */

.navbar-nav .nav-link {
    color: #fff!important;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navbar-nav .nav-link {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
}

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }
}

.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: #1badea!important;
}


 /* ==========================================================================
    Jumbotron
    ========================================================================== */

.jumbotron {
    background: #1badea;
    color: #fff;
    text-align: center;
}

@media (min-width: 992px) {
    .jumbotron {
        text-align: left;
    }
}

/* App Jumbotron */

.aur-app-jumbotron {
    margin-bottom: 0;
    padding: 2rem 0;
}

/* Info Jumbotron */

.aur-info-jumbotron {
    margin-bottom: 0;
    padding: 2rem 1rem;
}

@media (min-width: 576px) {
    .aur-info-jumbotron {
        padding: 2rem 1rem;
    }
}

/* Jumbotron content */

.aur-jumbotron-text-container {
    align-self: center;
}

@media (max-width: 991px) {
    .aur-jumbotron-text-container {
        margin-bottom: 1.25rem;
    }
}

.aur-jumbotron-heading {
    font-size: 1.25rem;
    line-height: 1.25;
    margin-bottom: 1.25rem;
}

.aur-info-jumbotron .aur-jumbotron-heading {
    font-family: 'Dosis', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
}

p.aur-jumbotron-heading {
    margin-bottom: .5rem;
}

.aur-jumbotron-heading a:focus, .aur-jumbotron-heading a:hover {
    text-decoration: none;
}

.aur-appname {
    color: #fff;
    display: block;
    font-family: 'Dosis', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1rem;
}

@media (min-width: 576px) {
    .aur-appname {
        margin-bottom: 0.25rem;
    }
}

.aur-appname:focus, .aur-appname:hover {
    color: #fff;
    text-decoration: none;
}

/* Jumbotron content link */

.jumbotron a {
    color: #fff;
}

.jumbotron a.aur-link {
    border-bottom: 1px dotted #fff;
}

.jumbotron a.aur-link:focus, .jumbotron a.aur-link:hover {
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

/* Jumbotron screenshot */

@media (min-width: 992px) {
    .aur-jumbotron-shot-container {
        text-align: right;
    }
}

.aur-jumbotron-shot {
    border: 2px solid #fff;
}

@media (min-width: 992px) {
    .aur-jumbotron-shot {
        max-width: 23.225rem;
    }
}

@media (min-width: 1200px) {
    .aur-jumbotron-shot {
        max-width: 27.75rem;
    }
}



/* ==========================================================================
   Site Main
   ========================================================================== */

 .aur-site-main {
     padding-top: 4rem;
 }


 /* ==========================================================================
    Site Footer
    ========================================================================== */

.aur-site-footer {
    background: #384452;
    color: #bfc9d3;
    padding: 3rem 0;
}

.aur-site-footer a {
    color: #bfc9d3;
}

.aur-site-footer a:focus, .aur-site-footer a:hover {
    color: #1badea;
    text-decoration: none;
}

.aur-footer-heading {
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 1.15rem;
    font-weight: bold;
    margin-bottom: 1.15rem;
    padding-bottom: .65rem;
}

.aur-site-footer nav {
    margin-left: -1rem;
}
