
/*
 * Apps Page
 */

.home-featured-stripe {
    border-top: 2px solid #fff;
}

/*
 * Apps Page
 */

.apps-listing .jumbotron {
    background: #fff;
    color: #373737;
}

.apps-listing .appname {
    color: #373737;
}

/* Jumbotron content link */

.apps-listing .jumbotron a.link {
    color: #373737;
    border-bottom: 1px dotted #373737;
}

.apps-listing .jumbotron a.link:focus, .apps-listing .jumbotron a.link:hover {
    border-bottom: 1px solid #373737;
}



.iubenda-ibadge {
    margin: 1.5rem 0 3rem 1.5rem;
    transform: scale(1.5);
}
