/* ==========================================================================
   Home Page
   ========================================================================== */

.aur-homepage-carousel {
    background: #1badea;
    padding-bottom: 2rem;
}

.aur-homepage-carousel .aur-extra {
    display: none;
}

.aur-homepage-carousel .aur-jumbotron-heading {
    min-height: 9rem;
}

@media (min-width: 480px) {
    .aur-homepage-carousel .aur-jumbotron-heading {
        min-height: 0;
    }
}

.aur-homepage-carousel .carousel-indicators {
    bottom: 1rem;
}

@media (max-width: 1400px) {
    .aur-homepage-carousel .carousel-control-prev, .aur-homepage-carousel .carousel-control-next {
        display: none!important;
    }
}

.home-featured-stripe {
    border-top: 2px solid #fff;
}


/* ==========================================================================
   Apps Page
   ========================================================================== */

.aur-apps-listing .jumbotron {
    background: #fff;
    color: #373737;
}

.aur-apps-listing .aur-appname {
    color: #373737;
}

.aur-apps-listing .aur-extra {
    display: none;
}

/* Jumbotron content link */

.aur-apps-listing .jumbotron a.link {
    color: #373737;
    border-bottom: 1px dotted #373737;
}

.aur-apps-listing .jumbotron a.link:focus, .aur-apps-listing .jumbotron a.link:hover {
    border-bottom: 1px solid #373737;
}


/* ==========================================================================
   Privacy Policy
   ========================================================================== */

.iubenda-ibadge {
    margin: 1.5rem 0 3rem 1.5rem;
    transform: scale(1.5);
}
