
/* ==========================================================================
   Common
   ========================================================================== */

/*
 * Featured Stripe
 */

 .aur-featured-stripe {
     background: #1badea;
     padding: 3rem 0 1rem 0;
     text-align: center;
 }

 .aur-featured-heading {
     color: #fff;
     font-size: 1.25rem;
     font-weight: bold;
     margin-bottom: 2rem;
 }

 @media (min-width: 1200px) {
     .aur-featured-heading {
         margin-bottom: 1.25rem;
     }
}

.aur-featured-logo {
    display: block;
    margin: 0 auto 2rem auto;
    max-width: 100%;
}

@media (min-width: 576px) {
    .aur-featured-logo {
        display: inline;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

/*
 * Badge Stripe
 */

 .badge-stripe {
     margin-bottom: 1.5rem;
     text-align: center;
 }


/* ==========================================================================
   App Pages
   ========================================================================== */

/*
 * Secondary menu.
 */

.aur-secondary-menu-stripe {
    background: #1badea;
    padding-bottom: 1rem;
    margin-top: -1rem;
}

@media (min-width: 576px) {
    .aur-secondary-menu-stripe {
        border-top: 2px solid #fff;
        margin-top: 0;
        padding: 1rem 0;
    }

    .aur-secondary-menu-stripe {
        padding: 0;
    }
}

.aur-secondary-menu .nav-link {
    background: #1badea;
    color: #fff;
    font-size: 1.1rem;
    padding: 1rem 0;
    text-align: center;
}

@media (min-width: 576px) {
    .aur-secondary-menu .nav-link {
        border-left: 2px solid #fff;
    }

    /*.aur-secondary-menu .col-sm:first-child .nav-link {
        border-left: none;
    }*/

    .aur-secondary-menu .col-sm:last-child .nav-link {
        border-right: 2px solid #fff;
    }
}

.aur-secondary-menu .nav-link:hover {
    background: #34b6ec;
}

.aur-secondary-menu .nav-link.active {
    background: #fff;
    color: #1badea;
    font-weight: bold;
}


/* ==========================================================================
   History Pages
   ========================================================================== */

.aur-history-list li {
    margin-bottom: 0.5rem;
}

.aur-history-list .fa-li {
    color: #1badea;
}

.aur-history-list time {
    color: #636c72;
    font-size: 80%;
}
