
/* ==========================================================================
   Common
   ========================================================================== */

/*
 * Featured Stripe
 */

 .featured-stripe {
     background: #1badea;
     padding: 3rem 0 1.75rem 0;
     text-align: center;
 }

 .featured-heading {
     color: #fff;
     font-size: 1.25rem;
     font-weight: bold;
     margin-bottom: 1.25rem;
 }

.featured-logos a:focus, .featured-logos a:hover {
    text-decoration: none;
}

.featured-logo {
    margin: 0 2rem 1.25rem 2rem;
}

/*
 * Badge Stripe
 */

 .badge-stripe {
     margin-bottom: 1.5rem;
     text-align: center;
 }


/* ==========================================================================
   App Pages
   ========================================================================== */

/*
 * Secondary menu.
 */

.stripe-secondary-menu {
    background: #1badea;
    border-top: 2px solid #fff;
    padding: 1rem 0;
}

@media (min-width: 544px) {
    .stripe-secondary-menu {
        padding: 0;
    }
}

.secondary-menu {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.secondary-menu .nav-link {
    background: #1badea;
    color: #fff;
    display: block;
    font-size: 1.1rem;
    padding: 1rem 0;
    text-align: center;
}

@media (min-width: 544px) {
    .secondary-menu .nav-link {
        border-left: 2px solid #fff;
        display: table-cell;
    }
}

.secondary-menu .nav-link+.nav-link {
    margin-left: 0;
}

.secondary-menu .nav-link:first-child {
    border-left: none;
}

.secondary-menu .nav-link:hover {
    background: #34b6ec;
}

.secondary-menu .nav-link.active {
    background: #fff;
    color: #1badea;
    font-weight: bold;
}


/* ==========================================================================
   Help Pages
   ========================================================================== */

.help-section {
    margin-bottom: 3rem;
}

.help-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.help-section-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.help-subsection-heading {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}


/* ==========================================================================
   Articles
   ========================================================================== */

.article {
    margin-bottom: 3rem;
}
