
    <!-- Site Footer -->
    <footer class="site-footer">
        <div class="container">
            <nav class="nav nav-inline">
                <a class="nav-link" href="{{ site.github.url }}/cinemadrape/windows/">CinemaDrape</a>
                <a class="nav-link" href="{{ site.github.url }}/colorveil/windows/">ColorVeil</a>
                <a class="nav-link" href="{{ site.github.url }}/injuredpixels/windows/">InjuredPixels</a>
                <a class="nav-link" href="{{ site.github.url }}/pixelhealer/windows/">PixelHealer</a>
                <a class="nav-link" href="{{ site.github.url }}/colortypist/windows/">Colortypist</a>
                <a class="nav-link" href="{{ site.github.url }}/whatsmyco/web/">WhatsMyCo</a>
                <a class="nav-link" href="{{ site.github.url }}/thumbico/windows/">Thumbico</a>
                <a class="nav-link" href="{{ site.github.url }}/htmtied/windows/">HTMtied</a>
            </nav>

            <nav class="nav nav-inline">
                <a class="nav-link" href="{{ site.github.url }}/apps/">Apps</a>
                <a class="nav-link" href="{{ site.github.url }}/reviews/">Reviews</a>
                <a class="nav-link" href="{{ site.github.url }}/support/">Support</a>
                <a class="nav-link" href="{{ site.github.url }}/about/">About</a>
            </nav>

            <p class="copyright">Copyright © 1999-2016 Aurelitec. All rights reserved. <a href="{{ site.github.url }}/about/privacy/">Privacy Policy</a></p>

            <nav class="nav nav-inline">
                <a class="nav-link social social-wordpress" href="https://aurelitec.wordpress.com/" target="_blank"><img class="social-icon" src="{{ site.github.url }}/img/third/social/wordpress.svg" alt="WordPress" title="WordPress" /></a>
                <a class="nav-link social social-twitter" href="https://twitter.com/aurelitec" target="_blank"><img class="social-icon" src="{{ site.github.url }}/img/third/social/twitter.svg" alt="Twitter" title="Twitter" /></a>
                <a class="nav-link social social-tumblr" href="http://aureliteclinklog.tumblr.com/" target="_blank"><img class="social-icon" src="{{ site.github.url }}/img/third/social/tumblr.svg" alt="Tumblr" title="Tumblr" /></a>
            </nav>
        </div>
    </footer> <!-- .site-footer -->

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>
</html>
