<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img class="header-logo" alt="Aurelitec" src="/img/theme/branding/aurelitec-logo-header.png" />
                </a>

                <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">&#9776;</button>
                <div class="clearfix hidden-md-up"></div>

                <div class="navbar-panel collapse navbar-toggleable-sm" id="collapsingNavbar">
                    <nav class="nav">
                        <a class="nav-link" href="/apps/">Apps</a>
                        <a class="nav-link" href="/reviews/">Reviews</a>
                        <a class="nav-link" href="/support/">Support</a>
                        <a class="nav-link" href="/about/">About</a>
                    </nav>
                </div>
            </div>
        </nav>
    </header>
