---
app         : injuredpixels-android
appurl      : /injuredpixels/android/
layout      : app-page

title       : InjuredPixels for Android License Agreement
description : You are free to use InjuredPixels for Android to check the screen of your Android device for dead pixels, scratches or defects. Read the full License.
---

{% capture thecontent %}
<h2 class="aur-page-heading">InjuredPixels for Android License Agreement</h2>
{% include various/licenses/apache.html appname="InjuredPixels for Android" years="2016-2017" %}
{% endcapture %}
{% include templates/nosidebar-content.html %}
