---
active        : overview
app           : pixelhealer-windows
appurl        : /pixelhealer/windows/
layout        : app-page
redirect_from : /pixelhealer/

title         : PixelHealer - Try to fix dead pixels by yourself
description   : Try to fix dead pixels by yourself, before running back to the store! Use it to fix dead pixels on LCD/TFT screens, on desktop monitors, laptops or tablets.
image         : /img/apps/pixelhealer/pixelhealer-jumbotron-shot.jpg
---

<section class="aur-content-group text-center">
    <div class="row">
        {% include templates/feature.html icon="fa-search" heading="Step 1: Detect" text='Use our own free <a href="/injuredpixels/">InjuredPixels</a>
        portable app to check your screen or tablet for dead, stuck or hot pixels.' %}

        {% include templates/feature.html icon="fa-flash" heading="Step 2: Start Fixing" text="Download and run PixelHealer without installation, cover
        the dead pixel with the color window &amp; click Start Flashing." %}

        {% include templates/feature.html icon="fa-check" heading="Step 3: Wait &amp; Check" text="Let the flashing window run for a while, than check to
        see if the dead pixel has been fixed or revived. Repeat if necessary." %}

        {% include templates/feature.html icon="fa-flask" heading="Experiment Based" text="PixelHealer uses the already tested concept that flashing RGB
        colors over a dead or stuck pixel will revive it." %}

        {% include templates/feature.html icon="fa-gear" heading="Easy to Customize" text="Use the mouse to move or resize the flashing window, or the
        intuitive settings to change the flashing colors or interval." %}

        {% include templates/feature.html icon="fa-warning" heading="Epilepsy Warning" text="Flashing colors can trigger epilepsy attacks. Make sure you
        don't stare at the PixelHealer flashing window!" %}
    </div>
</section>

<section class="aur-content-group text-center">
    <h2 class="aur-home-heading">Selected Reviews</h2>
    <div class="row">
        {% include templates/selected-review.html link="http://www.ghacks.net/2016/01/24/pixelhealer/" source="Ghacks"
        quote="It may be worth a shot, as the only other options you have are to return the screen/buy a new one or to live with it." %}

        {% include templates/selected-review.html
        link="http://www.ilovefreesoftware.com/15/windows/system-utils/pixel-repair-software-identify-repair-dead-pixels-desktop.html" source="I Love Free
        Software" quote="Very straightforward: most of the task is done automatically and users just have to place the color window, start and stop it." %}

        {% include templates/selected-review.html link="http://www.chip.de/downloads/PixelHealer-Portable_88736206.html" source="CHIP"
        quote="No prior knowledge is required, PixelHealer performs its duty even without installation. (CHIP Verdict: Gut)" %}
    </div>
</section>
