---
active      : reviews
app         : injuredpixels-windows
appurl      : /injuredpixels/windows/
layout      : app-page

title       : InjuredPixels for Windows - Reviews And Testimonials
description : \"As hardware diagnostics applications go, then, InjuredPixels is just about as simple a program as you'll see. But it's also capable, effective and easy to use.\"
---

{% capture thecontent %}
{% assign reviews = site.reviews | where: 'app', 'InjuredPixels' | sort: 'by', 'last' %}
{% for review in reviews %}
    {% include templates/review.html %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Reviews" %}
