---
active : overview
app    : thumbico-windows
appurl : /thumbico/windows/
layout : app-page
---

{% capture thecontent %}
    <div class="row">
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Drag and Drop</h3>
            <p>Type or paste the name or HTML code of any web color, and see it fill your entire screen, in real-time, while you type.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Icons and Thumbnails</h3>
            <p>Get icons for any file or program. And get thumbnails (reduced-size versions) for any picture, photo, or video.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Free File Icons</h3>
            <p>Free as in size liberated. Windows shows you small, standard size icons. Thumbico lets you view icons at any size.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Easy Image Sizing</h3>
            <p>Get a bigger or smaller icon or thumbnail by pressing the familiar Ctrl++ or Ctrl+- zoom keyboard shortcuts.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Precise Image Sizing</h3>
            <p>For a more precise resizing, you can also enter width and height values in the numeric edit boxes located in the toolbar.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Easy Editing</h3>
            <p>Easily rotate the image, flip it horizontally or vertically, convert it to grayscale, or blend it in with a different background color.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Saving or Copying</h3>
            <p>Easily export and save the WYSIWYG image to a JPEG, PNG, GIF or BMP file, or copy it to the Windows Clipboard.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Cute Icons</h3>
            <p>Try the Glass and Naked Modes for a nicer view of file icons and thumbnails. For screenshots, screencasts, or presentations.</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="item-heading">Software Developers</h3>
            <p>Test how program or file icons look at different sizes, and how their transparency blends with different backgrounds.</p>
        </div>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="Features" %}

{% capture thecontent %}
    <div class="row">
        <div class="col-lg-4 content-item">
            <h3 class="quote-heading">
                <a class="heading-link" href="http://www.softpedia.com/reviews/windows/Thumbico-Review-181397.shtml" target="_blank">Softpedia</a>
            </h3>
            <p><q>If you're looking for an effortless and uncomplicated way to save this type of images, then you found it.</q> (5 Stars)</p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="quote-heading">
                <a class="heading-link" href="http://www.addictivetips.com/windows-tips/thumbico-lets-you-view-extract-icons-of-files-videos-applications/" target="_blank">AddictiveTips</a>
            </h3>
            <p><q>The simplicity of the application is its greatest strength, in my opinion. To load an image, just drag and drop it.</q></p>
        </div>
        <div class="col-lg-4 content-item">
            <h3 class="quote-heading">
                <a class="heading-link" href="http://www.rockybytes.com/thumbico" target="_blank">Rocky Bytes</a>
            </h3>
            <p><q>This application was a dream come true for me and it may be for you just as well.</q> (Five Stars – It Rocks!)</p>
        </div>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="Reviews" %}
