---
app         : thumbico-windows
appurl      : /thumbico/windows/
layout      : app-page

title       : Thumbico License Agreement - Free for home and business
description : You are free to use Thumbico to view the large thumbnail or icon of any file, image, document, video or program on your PC. Read the full License Agreement.
---

{% capture thecontent %}
{% include various/licenses/freeware.html appname="Thumbico" years="2011-2016" %}
{% endcapture %}
{% include templates/nosidebar-content.html %}
