---
active        : overview
app           : htmtied-windows
appurl        : /htmtied/windows/
layout        : app-page
redirect_from : /htmtied/

title         : HTMtied - Save your links as tiny portable bookmark files
description   : HTMtied instantly converts your internet bookmarks into tiny portable bookmark files, that can be used on any PC, tablet, smartphone, or Dropbox.
image         : /img/apps/htmtied/windows/jumbotron/htmtied-windows-jumbotron-image.png
---

<section class="aur-content-group text-center">
    <div class="row">
        {% include templates/feature.html icon="fa-bookmark-o" heading="Free Bookmarks" text="Free as in liberated: save your Internet bookmarks as tiny files,
        that you can use anywhere, outside your browser." %}

        {% include templates/feature.html icon="fa-globe" heading="Portable Bookmarks" text="Use your Internet bookmarks on any PC, tablet, smartphone, or
        in the cloud. On Windows, Mac, Android, iOS, or Linux." %}

        {% include templates/feature.html icon="fa-file-code-o" heading="Standard HTML Files" text="The bookmark files are actually tiny HTML files, that load
        the original Internet address, when opened in any browser." %}

        {% include templates/feature.html icon="fa-paste" heading="Copy, Run, Paste" text="Copy any Internet address to the Clipboard, run HTMtied, and
        paste the magically created portable bookmark file." %}

        {% include templates/feature.html icon="fa-list" heading="Convert En Masse" text="Copy multiple addresses on separate lines to the Clipboard, or
        drag and drop any number of URL files over HTMtied." %}

        {% include templates/feature.html icon="fa-folder-o" heading="The Direct Mode" text="No more manual pasting: click the HTMtied Direct shortcut to
        convert and paste all bookmarks to a preferred location." %}

        {% include templates/feature.html icon="fa-cloud" heading="Online Bookmarks" text="The portable bookmark files can easily be uploaded or
        synchronized in the cloud, with online storage services." %}

        {% include templates/feature.html icon="fa-internet-explorer" heading="Internet Favorites" text="Liberate your Internet Explorer Favorites: copy the URL files
        to the Clipboard, or drag and drop them on the HTMtied icon." %}

        {% include templates/feature.html icon="fa-magic" heading="Zero Interface" text="HTMtied is so easy to use that it doesn't even need a user
        interface. On success you'll hear the famous <i>Tada</i> sound." %}
    </div>
</section>

<section class="aur-content-group text-center">
    <h2 class="aur-home-heading">Selected Reviews</h2>
    <div class="row">
        {% include templates/selected-review.html link="http://www.nirmaltv.com/2011/09/14/convert-any-internet-link-to-html-file-with-htmtied/"
        source="NirmalTV" quote="HTMtied is a very useful and yet simple tool to create an HTML file for any website links or URLs in an easy way." %}

        {% include templates/selected-review.html
        link="http://www.addictivetips.com/windows-tips/htmtied-create-html-file-shortcuts-for-website-to-run-anywhere/" source="AddictiveTips" quote="Create
        website shortcuts for opening them in the default browsers of numerous OS platforms and portable devices." %}

        {% include templates/selected-review.html link="https://dottech.org/167449/how-to-instantly-convert-any-url-to-html-in-windows-tip/" source="dotTech"
        quote="If you're looking for a quick way to add website shortcuts to the Windows desktop, give HTMtied a try." %}
    </div>
</section>

{% capture thecontent %}
    <blockquote class="blockquote">
        <p><q>For shortcuts to links HTMtied is second to none. It's tiny, portable &amp; simple! Simply copy the URL, activate HTMtied [DA DA], then paste to desktop or any folder. The shortcut will always open your default browser.</q></p>
        <footer class="blockquote-footer">User comment on dotTech</footer>
    </blockquote>
{% endcapture %}
{% include templates/contentsection.html heading="Testimonials" %}
