<p>You can learn more about the free Aurelitec apps by reading these articles:</p>
<ul class="fa-ul aur-strong-list">
    <li>
        <i class="fa-li fa fa-file-text-o"></i>
        <a class="aur-heading-link" href="{{ site.github.url }}/articles/color-desktop-wallpapers-fingertips/">
            Colortypist - Color Desktop Wallpapers At Your Fingertips
        </a>
    </li>
    <li>
        <i class="fa-li fa fa-file-text-o"></i>
        <a class="aur-heading-link" href="{{ site.github.url }}/articles/diy-pixel-fix/">
            PixelHealer - DIY Pixel Fix: Fix Dead, Stuck Or Hot Pixels Hassle Free
        </a>
    </li>
    <li>
        <i class="fa-li fa fa-file-text-o"></i>
        <a class="aur-heading-link" href="{{ site.github.url }}/articles/freedom-favorites-portable-bookmarks/">
            HTMtied - Freedom-Tied Favorites: How To Create Portable Bookmarks?
        </a>
    </li>
    <li>
        <i class="fa-li fa fa-file-text-o"></i>
        <a class="aur-heading-link" href="{{ site.github.url }}/articles/instant-screen-area-focus/">
            CinemaDrape - Instant Screen Area Focus With CinemaDrape
        </a>
    </li>
    <li>
        <i class="fa-li fa fa-file-text-o"></i>
        <a class="aur-heading-link" href="{{ site.github.url }}/articles/pixel-test-monitor-trouble-spots/">
            InjuredPixels - Pixel Test Your Monitor For Its Trouble Spots
        </a>
    </li>
</ul>
