---
title: InjuredPixels For Windows - Version History - What's new
active: history
app: injuredpixels-windows
appurl: "/injuredpixels/windows/"
layout: app-page
description: View full version history for InjuredPixels for Windows, and see a comprehensive
  list of new features and improvements.
---

{% capture thecontent %}

    <h2 class="aur-page-heading">InjuredPixels For Windows Version History</h2>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 4.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-check" text="InjuredPixels for Windows has gone Open Source on GitHub" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Save and restore colors and settings" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Added a Touch Mode to let the user gently rub any touchscreen area while testing" %}
            {% include templates/history-item.html icon="fa-plus-square" text="Added support for high-resolution displays" %}
            {% include templates/history-item.html icon="fa-check" text="Improved interface" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>February 5, 2017</time>" %}
        </ul>
    </section>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 3.5</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-check" text="Improved native support for Windows 10" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>November 18, 2015</time>" %}
        </ul>
    </section>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 3.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-check" text="Improved modern interface" %}
            {% include templates/history-item.html icon="fa-check" text="Improved native support for Windows 8" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>October 9, 2012</time>" %}
        </ul>
    </section>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 2.1</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="Added multi-monitor support to check any or all connected monitors/displays for dead pixels" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>October 12, 2010</time>" %}
        </ul>
    </section>

    <section class="aur-content-group-hr">
        <h3 class="aur-content-subheading">Version 2.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="Added a new edition of the program in the form of a HTML Application (HTA)" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>April 30, 2010</time>" %}
        </ul>
    </section>

    <section class="aur-content-group">
        <h3 class="aur-content-subheading">Version 1.0</h3>
        <ul class="fa-ul aur-history-list">
            {% include templates/history-item.html icon="fa-plus-square" text="First public release" %}
            {% include templates/history-item.html icon="fa-clock-o" text="<time>December 03, 2009</time>" %}
        </ul>
    </section>

{% endcapture %}
{% include templates/nosidebar-content.html %}
