---
active        : download
app           : cinemadrape-windows
appurl        : /cinemadrape/windows/
layout        : download-page
redirect_from : /cinemadrape/download/

title         : CinemaDrape for Windows - Free Download
description   : Download, install and run CinemaDrape on any PC, notebook or tablet with Windows 10, 8, 7, Vista, or XP. A portable version is also available.
---

{% capture thecontent %}
    <p class="square-middle">
        CinemaDrape is free for use in any environment, including but not necessarily limited to: personal, academic,
        commercial, government, business, non-profit, and for-profit. Before using CinemaDrape, you must accept its
        <a href="{{ site.github.url }}/cinemadrape/windows/license/">License Agreement</a>.
    </p>
{% endcapture %}
{% include templates/contentsection.html heading="License" %}

{% capture thecontent %}
    <h3 class="item-heading">Install CinemaDrape 2.1.1.300</h3>
    <p>You can install and run CinemaDrape on any PC, notebook or tablet with Windows 10, 8, 7, Vista, or XP<a title="On Windows XP you also need Microsoft .NET Framework 2.0 or above." href="http://www.microsoft.com/en-us/download/details.aspx?id=1639" target="_blank">*</a>. The Installer program will copy CinemaDrape on your computer, create a Start Menu entry and set up an uninstaller.</p>
    <p>
        <a class="btn btn-primary" href="http://download.aurelitec.com/cinemadrape/windows/cinemadrape-install.exe" role="button">Download EXE</a>
    </p>
{% endcapture %}
{% include templates/contentsection.html heading="Install" %}

{% capture thecontent %}
    <h3 class="item-heading">Download CinemaDrape 2.1.1.300 Portable</h3>
    <p>You can run CinemaDrape on any PC, notebook or tablet with Windows 10, 8, 7, Vista, or XP<a title="On Windows XP you also need Microsoft .NET Framework 2.0 or above." href="http://www.microsoft.com/en-us/download/details.aspx?id=1639" target="_blank">*</a>. No installation is required. Just download and unpack the ZIP archive.</p>
    <p>
        <a class="btn btn-primary" href="http://download.aurelitec.com/cinemadrape/windows/cinemadrape-portable.zip" role="button">Download ZIP</a>
    </p>
{% endcapture %}
{% include templates/contentsection.html heading="Portable" %}

{% capture thecontent %}
    <div class="square-middle">
        <a href="http://www.softpedia.com/get/Desktop-Enhancements/Other-Desktop-Enhancements/CinemaDrape.shtml" target="_blank">
            <img height="120" class="featured-logo" src="{{ site.github.url }}/img/third/reviews/s/softpedia/softpedia-clean-award.png" alt="Softpedia Clean Award" />
        </a>
        <a href="http://cinemadrape.software.informer.com" target="_blank">
            <img height="120" class="featured-logo" src="{{ site.github.url }}/img/third/reviews/s/software-informer/software-informer-clean-award.png" alt="Software Informer Virus Free award" />
        </a>
    </div>
{% endcapture %}
{% include templates/contentsection.html heading="100% Clean" %}
