---
active : reviews
app    : cinemadrape-windows
appurl : /cinemadrape/windows/
layout : app-page

title           : CinemaDrape Reviews And Testimonials - What others are saying
description     : \"One of the best apps to keep you concentrated. It can boost your focus significantly. Recommended download, 5 stars hands down.\"
---

{% capture thecontent %}
{% assign reviews = site.reviews | where: 'app', 'CinemaDrape' | sort: 'by', 'last' %}
{% for review in reviews %}
    {% include templates/review.html %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Reviews" %}

{% capture thecontent %}
{% assign testimonials = site.testimonials | where: 'app', 'CinemaDrape' | sort: 'by', 'last' %}
{% for testimonial in testimonials %}
    {% include templates/testimonial.html %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Testimonials" %}
