---
title: Free Apps and Programs
layout: default-page
heading: Apps
description: Aurelitec is the home of CinemaDrape, ColorVeil, InjuredPixels, PixelHealer,
  Colortypist, WhatsMyCo, Thumbico, and HTMtied.
---

{% include jumbotrons/info.html heading="Apps" %}

<main>
    <div class="aur-content-group aur-apps-listing">
        {% include jumbotrons/cinemadrape-windows.html %}
        {% include jumbotrons/colorveil-windows.html %}
        {% include jumbotrons/injuredpixels-windows.html %}
        {% include jumbotrons/injuredpixels-android.html %}
        {% include jumbotrons/pixelhealer-windows.html %}
        {% include jumbotrons/colortypist-windows.html %}
        {% include jumbotrons/whatsmyco-web.html %}
        {% include jumbotrons/thumbico-windows.html %}
        {% include jumbotrons/htmtied-windows.html %}
    </div>
</main>
