---
layout      : default-page
heading     : Apps

title       : Free Apps and Programs
description : Aurelitec is the home of CinemaDrape, ColorVeil, InjuredPixels, PixelHealer, Colortypist, WhatsMyCo, Thumbico, and HTMtied.
---
{% include jumbotrons/info.html heading="Apps" %}

<div class="apps-listing">
    {% include jumbotrons/cinemadrape-windows.html %}
    {% include jumbotrons/colorveil-windows.html %}
    {% include jumbotrons/injuredpixels-windows.html %}
    {% include jumbotrons/pixelhealer-windows.html %}
    {% include jumbotrons/colortypist-windows.html %}
    {% include jumbotrons/whatsmyco-web.html %}
    {% include jumbotrons/thumbico-windows.html %}
    {% include jumbotrons/htmtied-windows.html %}
</div>
