---
active      : download
app         : injuredpixels-android
appurl      : /injuredpixels/android/
layout      : download-page

title       : InjuredPixels for Android - Free Install
description : Install and run InjuredPixels on any smartphone or tablet with Android version 4.4 and above.
---

{% capture thecontent %}
    <p class="square-middle">
        InjuredPixels is free for use in any environment, including but not necessarily limited to: personal, academic,
        commercial, government, business, non-profit, and for-profit. Before using InjuredPixels, you must accept its
        <a href="/injuredpixels/android/license/">License Agreement</a>.
    </p>
{% endcapture %}
{% include templates/contentsection.html heading="License" %}

{% capture thecontent %}
<h3 class="item-heading">Install InjuredPixels 1.0</h3>
<p>
    InjuredPixels runs on all Android versions starting with version 4.4. It requires no Internet and no extra
    permissions whatsoever.
</p>
<p>
    <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=com.aurelitec.injuredpixels" role="button" target="_blank">Get it on Google Play</a>
    <span class="label label-default m-l-1">Only 37KB</span>
</p>
{% endcapture %}
{% include templates/contentsection.html heading="Install" %}
