---
app    : thumbico
layout : app-page
active : download
---

<!-- Main Content -->
<div class="container main-content">

    {% capture thecontent %}
    <h3 class="item-heading">Install Thumbico 1.5.0.25</h3>
    <p>
        Thumbico runs on any PC, laptop or tablet with Windows 10, 8, 7, Vista, or
        XP<a title="On Windows XP you also need Microsoft .NET Framework 2.0 or above." href="http://www.microsoft.com/en-us/download/details.aspx?id=1639" target="_blank">*</a>.
        The Installer program will copy Thumbico on your PC, create a Start Menu entry, and set up an uninstaller.
        <span class="label label-default">Only 101KB</span>
    </p>
    <p>
        <a class="btn btn-primary" href="http://download.aurelitec.com/thumbico/windows/thumbico-install.exe" role="button">Download EXE</a>
    </p>
    {% endcapture %}
    {% include templates/contentsection.html heading="Install" %}

    {% capture thecontent %}
    <h3 class="item-heading">Download Thumbico 1.5.0.25 Portable</h3>
    <p>
        Thumbico runs on any PC, laptop or tablet with Windows 10, 8, 7, Vista, or
        XP<a title="On Windows XP you also need Microsoft .NET Framework 2.0 or above." href="http://www.microsoft.com/en-us/download/details.aspx?id=1639" target="_blank">*</a>.
        No installation is required. Just download and unpack the ZIP archive.
        <span class="label label-default">Only 27KB</span>
    </p>
    <p>
        <a class="btn btn-primary" href="http://download.aurelitec.com/thumbico/windows/thumbico-portable.zip" role="button">Download ZIP</a>
    </p>
    {% endcapture %}
    {% include templates/contentsection.html heading="Portable" %}

    <!-- Thumbico Clean Awards -->
    <div class="featured-logos">
        <a href="http://www.softpedia.com/get/Multimedia/Graphic/Graphic-Editors/Thumbico.shtml" target="_blank">
            <img height="120" class="featured-logo" src="/img/third/reviews/s/softpedia/softpedia-clean-award.png" alt="Softpedia Clean Award" />
        </a>
    </div>

</div>

<div class="container stripe stripe-bottom">
    <p>
        Thumbico is free for use in any environment, including but not necessarily limited to: personal, academic,
        commercial, government, business, non-profit, and for-profit. Before using Thumbico, you must accept
        its <a href="/thumbico/windows/license/">License Agreement</a>.
    </p>
</div>
