{% include common/header.html %}

<div id="app-page-carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        {% include jumbotrons/{{page.app}}.html %}
    </div>
    <div class="carousel-item">
        {% include jumbotrons/east-tec.html %}
    </div>
  </div>
</div>

{% include templates/app-secondary-menu.html %}

<!-- Main Content -->
<main class="container site-main">
    {{ content }}
</main>

{% include stripes/featured/{{page.app}}.html %}

{% include common/footer.html %}
