{% include common/header.html %}

<div class="jumbotron jumbotron-fluid aur-info-jumbotron">
    <div class="container">
        <h1 class="aur-jumbotron-heading"><a href="{{ site.github.url }}/articles/">Articles</a></h1>
    </div>
</div>

<!-- Main Content -->
<main class="aur-site-main">
    <div class="container">
        <h1 class="page-heading">{{page.title}}</h1>
        <div class="aur-content-group">
            {{ content }}
        </div>
    </div>
</main>

{% include common/footer.html %}
