---
title: Colortypist Reviews And Testimonials - What others are saying
active: reviews
app: colortypist-windows
appurl: "/colortypist/windows/"
layout: app-page
description: \"It's clear that this was not only made for graphic designers, but by
  them, as well. It's stylish, smooth, and does exactly what you need it to.\"
---

{% capture thecontent %}
{% assign reviews = site.reviews | where: 'app', 'Colortypist' | sort: 'by', 'last' %}
{% for review in reviews %}
    {% include templates/review.html %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Reviews" %}

{% capture thecontent %}
{% assign testimonials = site.testimonials | where: 'app', 'Colortypist' | sort: 'by', 'last' %}
{% for testimonial in testimonials %}
    {% include templates/testimonial.html %}
{% endfor %}
{% endcapture %}
{% include templates/contentsection.html heading="Testimonials" %}
